/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* shared styles */
* {
    font-family: Poppins;
}

body {
    max-width: 1300px;
    margin: 0 auto;
}

.header,
.main {
    padding-left: 50px;
    padding-right: 50px;
}

.btn-primary {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 0.8rem;
    font-weight: 700;
    border: none;
    border-radius: 41px;
    background: rgb(224, 44, 109);
    padding: 8px 20px;
}

/* header section styles */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}

.nav-links-container li {
    list-style: none;
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
}

.nav-links-container a {

    text-decoration: none;
}

.banner-container {
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-img img {
    width: 100%;
}

.banner-title {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 700;
}

.description {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 0.8rem;
    font-weight: 600;

}

/* Available Sites: */
.available-sites-container {
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 30px;
    border-top: 1px solid rgba(211, 211, 211, 0.5);
    border-bottom: 1px solid rgba(211, 211, 211, 0.5);
}

/* Popular Collections Styles */
.popular-collections-container {
    margin: 100px auto;
}

.popular-collections-container .cards {
    margin: 10px auto;
}

.collections-title {
    text-align: center;
    margin-bottom: 50px;
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 600;

}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    justify-items: center;
}

.card img {
    width: 100%;
}

.card {
    width: 320px;
    height: 450px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
}

.product-name {
    color: rgb(24, 25, 31);
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 7px;
    margin-bottom: 7px;
}

.price {
    color: rgba(0, 0, 0, 0.87);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
}

.rating {
    color: rgb(251, 130, 0);
}

.product-description {
    color: rgb(120, 120, 133);
    font-family: Poppins;
    font-size: 0.8rem;
    font-weight: 700;
}






/* ---------------------Make Responsive----------------------- */
/* Mobile device: */
@media screen and (max-width:576px) {

    .nav,
    .nav-links-container {
        flex-direction: column;
    }

    .banner-container {
        flex-direction: column-reverse;
        background-image: none;
    }

    .banner-img img {
        width: 100%;
    }

    .btn-container {
        text-align: center;
    }

    .available-sites-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .card {
        width: 300px;
        height: 420px;
    }

    .cards {
        grid-template-columns: 1fr;
    }

}

/* Tablet: */
@media screen and (min-width:576px) and (max-width:992px) {
    .nav {
        flex-direction: column;
    }

    .banner-container {
        flex-direction: column-reverse;
        background-image: none;
    }

    .available-sites-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}